html {
    background-color: #162623;
}

.navigation a {
    width: 100%;
    color: #ccf6ef;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 32px;
}

h1 {
    color:#00b8a9;
    text-shadow: darkturquoise;
    font-family: Verdana;
}

a:hover {
    color:#ff3399;
}